.SideBar-b-dashboard {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
}


.SideBar-b-logo {
    background-image: url("../../logo.png");
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 100px;
    margin: 20px 0;
    display: block;
}

.SideBar-b-main-title{
    margin: 0;
    list-style: none;
    color: #fff;
    font-weight: lighter;
    line-height: 42px;
    font-size: x-large;
}

.SideBar-b-main-title a{
    cursor: pointer;
}

.SideBar-b-main-title a:active,
.SideBar-b-main-title a:hover,
.SideBar-b-main-title a:focus
{
    text-decoration: none;
    color: #EE3361;
    outline: none;
}

#toggled-submenu {
    max-height: 100vh;
    transition: all .4s ease;
}

#toggled-submenu.submenuToggled {
    display: none;
}

@media (min-width: 767px) {
    .SideBar-b-dashboard__menu {
        width: 300px;
        height: 100%;
        padding: 10px 15px;
    }

    #menu-content.closed{
        max-height: fit-content;
    }
}
.SideBar-b-dashboard__menu .toggle-btn {
    display: none;
}

.SideBar-b-main-menu {
    padding: 10px 25px;
    margin: 0;
    list-style: none;
}
.SideBar-b-main-menu a{
    color: #fff;
    line-height: 42px;
    transition: color .5s;
    font-size: large;
    padding-left: 10%;
}
.SideBar-b-main-menu a:hover,
.SideBar-b-main-menu a:focus,
.SideBar-b-submenu a:focus {
    text-decoration: none;
    color: #EE3361;
}

.SideBar-b-main-menu li.active a{
    color: #EE3361;
}

.SideBar-b-submenu{
    display: block;
    max-height: 0;
    list-style: none;
    -webkit-transition: all 0.5s ease-out;
}

.SideBar-b-logged-user{
    padding-right: 5%;
    display: flex;
    align-items: center;
    border-bottom: 2px solid;
    border-top: 2px solid;
    /*border-left: 2px solid;*/

    /*gradient*/
    -moz-border-image: -moz-linear-gradient(left, #13A6E1 0%, transparent 100%);
    -webkit-border-image: -webkit-linear-gradient(left, #13A6E1 0%, transparent 100%);
    border-image: linear-gradient(to right, #13A6E1 0%, transparent 100%);
    border-image-slice: 1;
}

.SideBar-b-logged-user img {
    display: block;
    width: 20%;
    height: auto;
    margin: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-border-radius: 99em;
    -moz-border-radius: 99em;
    border-radius: 99em;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}

.SideBar-b-logged-user-name{
    font-size: medium;
    color: #fff;
}

.SideBar-b-logged-user-quit {
    color: white;
    font-size: large;
    padding-left: 5%;
    cursor: pointer;
}

@media (max-width: 767px) {
    .SideBar-b-dashboard__menu {
        position: absolute;
        z-index: 1;
        background: #0B314F;
        opacity: 0.95;
        width: 100%;
        left: 0px;
    }
    .SideBar-b-dashboard__menu .toggle-btn {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 25px;
        top: 45px;
        z-index: 10 !important;
        padding: 3px;
        background-color: #ffffff;
        width: 40px;
        text-align: center;
    }
    .SideBar-b-logo {
        text-align: left !important;
        font-size: 22px;
        padding-left: 20px;
        line-height: 50px !important;
    }

    .SideBar-b-main-menu {
        padding: 0 25px;
        margin: 10px;
        list-style: none;
    }

    #responsive-menu-content {
        max-height: 100vh;
        transition: all .4s ease;
        overflow: hidden;
    }
    #responsive-menu-content.closed {
        max-height: 0;
    }

}





